# Virtual Environment
venv/

# IDE or Editor Settings
.vscode/
.idea/
*.pyc

# Logs and Temporary Files
*.log
__pycache__/

# Sensitive Information
config.ini
*.env

# Compiled Code or Binaries
*.pyc
*.class
*.jar
